*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 680px;
    margin: 0 auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin:  0 -15px;
}
.col-3 {
    width: 25%;
    padding: 15px;
}
.img-wrapper {
    border: 1px solid  #b6ff08  ;
    border-radius: 15px;


}
img {
    width: 100%;
}

.bg-red {
    background-color: #b6ff08;
    border-radius: 15px;

}